<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-02-09T20:46:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/maxime/Desktop/ProjetSwift/BaseSwiftProject/SampleWebAPI 2/SampleWebAPI.xcworkspace</string>
</dict>
</plist>
